AddType text/html .html .htm

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^1\.1\.67\.114$ [NC]
RewriteRule .* https://olp.co.jp%{REQUEST_URI} [R=301,L]

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://olp-medical.jp/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteEngine on
RewriteRule ^$ https://olp-medical.jp/ [R=301,L]
RewriteRule ^search.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=283 [R=301,L]
RewriteRule ^feature_top.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=284 [R=301,L]
RewriteRule ^feature_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=285 [R=301,L]
RewriteRule ^feature_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=286 [R=301,L]
RewriteRule ^feature_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=287 [R=301,L]
RewriteRule ^feature_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=288 [R=301,L]
RewriteRule ^column.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=289 [R=301,L]
RewriteRule ^column1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=290 [R=301,L]
RewriteRule ^column1_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=291 [R=301,L]
RewriteRule ^column1_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=292 [R=301,L]
RewriteRule ^column1_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=293 [R=301,L]
RewriteRule ^column1_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=294 [R=301,L]
RewriteRule ^column1_5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=295 [R=301,L]
RewriteRule ^column1_6.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=296 [R=301,L]
RewriteRule ^column1_7.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=297 [R=301,L]
RewriteRule ^column1_8.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=298 [R=301,L]
RewriteRule ^column1_9.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=299 [R=301,L]
RewriteRule ^column1_10.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=300 [R=301,L]
RewriteRule ^column1_11.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=301 [R=301,L]
RewriteRule ^column1_12.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=302 [R=301,L]
RewriteRule ^column1_13.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=303 [R=301,L]
RewriteRule ^column1_14.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=304 [R=301,L]
RewriteRule ^column1_15.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=305 [R=301,L]
RewriteRule ^column1_16.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=306 [R=301,L]
RewriteRule ^column2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=307 [R=301,L]
RewriteRule ^column2_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=308 [R=301,L]
RewriteRule ^column2_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=309 [R=301,L]
RewriteRule ^column2_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=310 [R=301,L]
RewriteRule ^column2_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=311 [R=301,L]
RewriteRule ^column2_5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=312 [R=301,L]
RewriteRule ^column2_6.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=313 [R=301,L]
RewriteRule ^column2_7.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=314 [R=301,L]
RewriteRule ^column2_8.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=315 [R=301,L]
RewriteRule ^column2_9.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=316 [R=301,L]
RewriteRule ^column2_10.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=317 [R=301,L]
RewriteRule ^column2_11.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=318 [R=301,L]
RewriteRule ^column2_12.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=319 [R=301,L]
RewriteRule ^column2_13.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=320 [R=301,L]
RewriteRule ^column2_14.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=321 [R=301,L]
RewriteRule ^column3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=322 [R=301,L]
RewriteRule ^column3_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=323 [R=301,L]
RewriteRule ^column4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=324 [R=301,L]
RewriteRule ^column4_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=325 [R=301,L]
RewriteRule ^column4_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=326 [R=301,L]
RewriteRule ^column4_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=327 [R=301,L]
RewriteRule ^column4_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=328 [R=301,L]
RewriteRule ^column4_5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=329 [R=301,L]
RewriteRule ^column5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=330 [R=301,L]
RewriteRule ^column5_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=331 [R=301,L]
RewriteRule ^column6.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=332 [R=301,L]
RewriteRule ^column6_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=333 [R=301,L]
RewriteRule ^column7.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=334 [R=301,L]
RewriteRule ^column7_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=335 [R=301,L]
RewriteRule ^column7_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=336 [R=301,L]
RewriteRule ^column7_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=337 [R=301,L]
RewriteRule ^column7_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=338 [R=301,L]
RewriteRule ^column8.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=339 [R=301,L]
RewriteRule ^column8_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=340 [R=301,L]
RewriteRule ^column8_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=341 [R=301,L]
RewriteRule ^column8_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=342 [R=301,L]
RewriteRule ^column8_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=343 [R=301,L]
RewriteRule ^column8_5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=344 [R=301,L]
RewriteRule ^column8_6.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=345 [R=301,L]
RewriteRule ^column8_7.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=346 [R=301,L]
RewriteRule ^column8_8.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=347 [R=301,L]
RewriteRule ^column8_9.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=348 [R=301,L]
RewriteRule ^column9.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=349 [R=301,L]
RewriteRule ^column9_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=350 [R=301,L]
RewriteRule ^column9_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=351 [R=301,L]
RewriteRule ^column9_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=352 [R=301,L]
RewriteRule ^column9_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=353 [R=301,L]
RewriteRule ^voice.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=354 [R=301,L]
RewriteRule ^clients.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=355 [R=301,L]
RewriteRule ^com_thanks.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=356 [R=301,L]
RewriteRule ^company.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=357 [R=301,L]
RewriteRule ^contact.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=358 [R=301,L]
RewriteRule ^day_119.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=359 [R=301,L]
RewriteRule ^day_regist.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=360 [R=301,L]
RewriteRule ^daywork.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=361 [R=301,L]
RewriteRule ^gift.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=362 [R=301,L]
RewriteRule ^line.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=363 [R=301,L]
RewriteRule ^privacy.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=364 [R=301,L]
RewriteRule ^reg_thanks.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=365 [R=301,L]
RewriteRule ^regist.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=366 [R=301,L]
RewriteRule ^regmore_thanks.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=367 [R=301,L]
RewriteRule ^regmore.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=368 [R=301,L]
