AddType text/html .html .htm

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://olp-medical.jp/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteEngine on
RewriteRule ^search.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=283 [R=301,L]
RewriteRule ^feature_top.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=284 [R=301,L]
RewriteRule ^feature_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=285 [R=301,L]
RewriteRule ^feature_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=286 [R=301,L]
RewriteRule ^feature_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=287 [R=301,L]
RewriteRule ^feature_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=288 [R=301,L]
RewriteRule ^column.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=289 [R=301,L]
RewriteRule ^column1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=290 [R=301,L]
RewriteRule ^column1_1.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=291 [R=301,L]
RewriteRule ^column1_2.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=292 [R=301,L]
RewriteRule ^column1_3.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=293 [R=301,L]
RewriteRule ^column1_4.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=294 [R=301,L]
RewriteRule ^column1_5.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=295 [R=301,L]
RewriteRule ^column1_6.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=296 [R=301,L]
RewriteRule ^column1_7.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=297 [R=301,L]
RewriteRule ^column1_8.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=298 [R=301,L]
RewriteRule ^column1_9.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=299 [R=301,L]
RewriteRule ^column1_10.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=300 [R=301,L]
RewriteRule ^column1_11.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=301 [R=301,L]
RewriteRule ^column1_12.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=302 [R=301,L]
RewriteRule ^column1_13.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=303 [R=301,L]
RewriteRule ^column1_14.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=304 [R=301,L]
RewriteRule ^column1_15.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=305 [R=301,L]
RewriteRule ^column1_16.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=306 [R=301,L]
