AddType text/html .html .htm

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://olp-medical.jp/$1 [R=301,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteEngine on
RewriteRule ^$ https://olp-medical.jp/$1 [R=301,L]
RewriteRule ^index.html$ https://olp-medical.jp/$1 [R=301,L]

RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/search.html
RewriteRule ^(.*)search.html$ https://olp-medical.jp/index.cfm?fuseaction=contents.fcts&cid=283/$1 [R=301,L]
